<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools">

    <dist:module
        dist:instant="false"
        dist:title="@string/title_mtntcoffee">
        <dist:delivery>
            <dist:on-demand />
        </dist:delivery>
        <dist:fusing dist:include="true" />
    </dist:module>
    <application
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning,MissingApplicationIcon,LockedOrientationActivity">
        <activity
            android:name=".ui.VegaCoffeeDispatchMtntActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
    </application>
</manifest>

